{% extends 'index.html' %}
{% load static %}

{% block main %}
    <div id="left_login">
        <div class="dialog">
            {% if message|length > 0 %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
            {% endif %}
            <div id="title_login_pane">
                <img src="{% static 'images/logoincolor.png' %}"/>
            </div>
            <form method="POST" action="login">
                {% csrf_token %}
                <div class="form__group field">
                    <input type="input" class="form__field" placeholder="Login" name="username" id='username' required/>
                    <label for="username" class="form__label">Login</label>
                </div>
                <div class="form__group field">
                    <input type="password" class="form__field" placeholder="Password" name="password" id='password'
                           required/>
                    <label for="password" class="form__label">Password</label>
                </div>
                <div id="forgotten_passowrd"><a href="#">Forgotten password?</a></div>
                <button type="submit" value="Login" class="button" id="buttonLo">
                    Login
                </button>
                <button class="button" id="buttonRe">
                    Register
                </button>
            </form>
        </div>

    </div>
    <div id="info_content">🍃 FLODA system user panel 🍃</div>
{% endblock %}