{% extends 'index.html' %}
{% block main %}
    <div id="left_login">
    <div class="dialog">
        <div class="form__group field">
            <input type="input" class="form__field" placeholder="Login" name="login" id='login' required/>
            <label for="login" class="form__label">Login</label>
        </div>
        <div class="form__group field">
            <input type="password" class="form__field" placeholder="Password" name="password" id='password' required/>
            <label for="password" class="form__label">Password</label>
        </div>
        </div>
    </div>

{% endblock %}