@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body,html{
	background-color:#0e7369;
	margin:0;
	padding:0;
	height:100%;
	width:100%;
	font-family:Lato;
	color:#f2f2f2;
	user-select: none;

}
a{
	text-decoration: none;
}
.box{
	height:100%;
	width:100%;
	display: flex;
    align-items:center;
	justify-content: center;
	flex-direction: column;
}
h1{
	font-size:50px;
}
input{
	font-size:15px;
}
.button{
	margin-top:20px;
	padding:10px;
	border: 0px;
	border-radius:2px;
	background-color:#0e5b53;
	font-weight:350;
	color:#fffdf3;
	font-size:35px;
}
.button:hover{
	background-color:#0e7369;
}
.cont{
	background-color:#0e7369;
	font-size: 70px;
	text-align: center;
}
